/* Fonts */

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/static/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/static/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/static/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Container */

.container {
  padding: 0 3vw 3vw;
}

/* Cursor */
#cursor {
  position: absolute;
  color: #c38888;
  font-size: 1.5vw;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
  animation: animate 7.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#cursor span {
  position: absolute;
  display: inline-block;
  transform-origin: 0 100px;
  text-transform: uppercase;
  top: -100px;
}

/* Page panels */

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#panels-container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: calc(4 * 100%);
}

@media only screen and (max-width: 900px) {
  #panels-container {
    flex-direction: column;
    overflow: unset;
    height: auto;
    width: 100vw;
  }
}

#panels-container .panel-horizontal {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Page decoration */

.separator {
  margin-left: 15vw;
  position: relative;
  font-size: 1.33vw;
  text-transform: uppercase;
}

.separator::before {
  border: 0.068vw solid currentColor;
  width: 9vw;
  content: "";
  height: 0.068vw;
  position: absolute;
  top: 50%;
  left: -15vw;
  transform: translateY(-50%);
}

/* Nav */

.header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.header__home {
  color: var(--secondary);
}

.header__link {
  padding: 0 1rem;
  font-weight: bold;
}

.header__nav {
  margin-left: auto;
}

.header__menu-icon {
  display: none;
  margin-left: auto;
}

.header__menu-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header__menu-icon {
    display: block;
  }

  .header__nav {
    display: none;
  }
}

.open-menu {
  background: var(--background);
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  left: 0;
  padding: 5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.open-menu > a {
  display: none;
}

.vertical-menu {
  display: flex;
  flex-direction: column;
  margin: unset;
  padding-top: 2rem;
}

.vertical-menu a {
  font-size: 2.5rem;
}

.no-vertical-overflow {
  overflow-y: hidden;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 0;
  margin-top: 8rem;
}

.footer__link {
  margin: 0 0.8rem;
}

.footer__icon {
  padding: 0.1rem;
}

/* Contact */

.contact__form {
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0;
}

.contact__label {
  font-weight: bold;
  margin: 0.8rem 0;
}

.contact__input {
  border-radius: 10px;
  padding: 0.4rem;
  resize: none;
  color: var(--background);
}

.contact__input:focus {
  outline: 4px solid var(--tertiary);
}

.contact__submit {
  margin-top: 3.2rem;
  width: fit-content;
  margin-left: auto;
}

/* Blog */

.blog__link {
  color: var(--tertiary);
  display: flex;
  flex-direction: column;
}

.blog__link:hover,
.blog__link {
  text-decoration: none;
}

.blog__title {
  text-decoration: underline;
}

.blog__list {
  list-style: none;
}

.blog__time {
  margin-left: auto;
}

.blog__element {
  padding: 0.8rem;
  border-radius: 10px;
  border: 2px solid var(--background);
  margin: 0.8rem 0;
}

.blog__element:hover {
  padding: 0.8rem;
  border-color: var(--primary);
  color: var(--primary);
}
