.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: var(--primary);
}

.hero__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero__title {
  font-size: 7.5vw;
  font-weight: bold;
  text-transform: uppercase;
}

.hero__title:last-child {
  text-align: right;
}

.hero__text {
  font-weight: 500;
  margin-left: 12vw;
  font-size: 1.86vw;
  text-transform: uppercase;
}

.hero__icon {
  align-self: flex-end;
  height: 6.9vw;
  width: 6.9vw;
  margin: 0.5vw;
}

.hero__img {
  position: absolute;
  right: 16vw;
  top: 3vw;
  width: 13.28vw;
  height: 16.6vw;
  transform: rotate(45deg);
}

@media only screen and (max-width: 768px) {
  .hero__text {
    font-size: 20px;
  }

  .hero__title {
    font-size: 30px;
  }

  .hero {
    align-items: center;
  }

  .hero__bottom {
    flex-direction: column;
    justify-content: center;
  }

  .hero__icon {
    order: 1;
  }

  .hero__img {
    top: 20vw;
  }

  .hero__bottom {
    gap: 5rem;
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 480px) {
  .hero__text {
    font-size: 16px;
  }

  .hero__icon {
    height: 30px;
    width: 30px;
  }

  .hero__img {
    width: 50px;
    height: 65px;
    right: 8vw;
    top: 25vw;
  }

  .hero__bottom {
    gap: 8rem;
    margin-top: 10rem;
  }
}
