.projects {
  padding: 0 3vw 3vw;
  background: var(--accent);
  flex-shrink: 0;
}

#panels-container {
  background: var(--accent);
  color: var(--dark-text);
}

.projects__heading {
  padding: 4.25vw 0;
}

.projects__title {
  font-size: 5.31vw;
  text-decoration: underline;
  width: min-content;
  font-weight: bold;
  text-transform: uppercase;
}

.projects__flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.projects__flex-wrapper div:first-child {
  width: 60vw;
}

.projects__description {
  width: 60%;
  margin: 2.5vw 0 2.5vw 3vw;
  line-height: 1.5;
}

.projects__image {
  margin-top: 5vw;
  width: 40vw;
  max-height: 50vh;
  object-fit: cover;
  display: block;
}

.projects__list-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 3vw;
}

.projects__list {
  display: flex;
  list-style: none;
  width: 50%;
  flex-wrap: wrap;
  margin-left: 4vw;
}

.projects__list-item {
  padding: 0.5vw 0.5vw 0;
}

.projects__link {
  font-size: 1em;
  margin: 1vw 1vw 0 0;
  display: inline-block;
  color: inherit;
}

.projects__link > svg {
  height: 1em;
  width: 1em;
}

@media only screen and (max-width: 1200px) {
  /* .projects__title {
    font-size: 30px;
  } */

  .projects__description {
    font-size: 16px;
  }

  .projects__flex-wrapper div:first-child {
    width: 50vw;
  }

  .projects__description,
  .projects__list {
    width: 65%;
  }

  .projects__image {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* .about__text {
    padding: 0 0 3rem 20vw;
    font-size: 16px;
  }

  .about__text--bold {
    font-size: 20px;
  } */
}

/* @media only screen and (max-width: 480px) {
  .about__text {
    padding-left: 10vw;
    font-size: 14px;
  }

  .about__text--bold {
    font-size: 16px;
  }
} */
