---
permalink: 404.html
eleventyExcludeFromCollections: true
layout: layouts/base.njk
---

<section class='container' style='display:flex; flex-direction:column; align-items:center; padding: 6rem 0;'>
    <h1>Content not found</h1>
    <h2>Error: 404</h2>
    <p>
    Go <a href="{{ '/' | url }}">Home</a>
    </p>
</secion>