---
permalink: /posts/
layout: layouts/base.njk
eleventyNavigation:
  key: Blog
  order: 4
---
<section class='blog container'>
  <h1 class='vertical-margin'>Blog</h1>
  <p>
    <span class='highlight--secondary'>Disclaimer:</span> This blog is intended to leave a record of my learning process. I am not an expert in any of the topics exposed here, and I will only offer a vision based on my research for future review and to measure my progress over time.
  </p>
  <div class='vertical-margin'>
    {%- if collections.posts.length == 0 -%}
      <p class='highlight--secondary vertical-margin' style='font-weight:bold;'>Coming soon...</p>
    {%- else -%}
      {% set postslist = collections.posts %}
      <ul class="blog__list">
        {% for post in postslist | reverse %}
          <li class="blog__element">
            <a href="{{ post.url | url }}" class="blog__link">
              <h2 class='highlight--primary blog__title'>{{ post.data.title }}</h2>
              <p>{{ post.data.description}}</p>
              <span class='blog__time'>
                <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    {%- endif -%}

  </div>
</section>