---
permalink: /contact/
layout: layouts/base.njk
eleventyNavigation:
  key: Contact
  order: 4
---

<section class='contact container section-margin'>
  <h1 id='contact' class='vertical-margin'>Contact</h1>
  <p>If you have something in mind and want me to work with you or your team, leave a message  and I'll get back to you!</p>
  <br/>
  <p>
    <a href="{{ metadata.author.github }}" target="_blank">Github {%- include "external-link.njk" -%}
    </a>
  </p>
  <p>
    <a href="{{ metadata.author.linkedin }}" target="_blank">Linkedin {%- include "external-link.njk" -%}
    </a>
  </p>
</section>
