---
layout: layouts/base.njk
permalink: /
---

{% set css %}
{% include './static/css/hero.css' %}
{% include './static/css/about.css' %}
{% include './static/css/projects.css' %}
{% endset %}
<style>
  {{css | cssmin | safe}}</style>
<section class="hero panel-vertical full-screen container">
  <h1 class="hero__title">ENGINEER, <br/>DEVELOPER</h1>
  <div class='hero_bottom'>
    <p class="hero_text text">
      JAVASCRIPT & <br/> WEB enthusiastic
    </p>
    <h2 class="hero__title">
      DAVID <br/> PEREZ.
    </h2>
  </div>
</section>
<section class="about panel-vertical full-screen container">
  <h3 class='separator about__subtitle'>about</h3>
  <p class="about__text about__text--bold text">
    I'm an informatic engineer who enjoys building stuffs whether that be websites, applications, or anything in between
    with a main focus on frontend development.
  </p>
  <p class="about__text">
    During this past years in college I’ve been in contact with many languages like C, SQL, Java, Python and JavaScript but
    I’m mainly interested in the last two.
    <span></span>
    I also, have been recently working with some others tecnologies like React, Redux, Zustand, NextJs, Eleventy &
    Typescript.
  </p>
</section>
<div id='panels-container' style="width: calc(4 * 100%);">
  {% for project in collections.projects %}
    <section class='projects panel-horizontal full-screen'>
      <h3 class='separator projects__heading'>Some things I've built</h3>
      <div class='projects__flex-wrapper'>
        <div>
          <p class='projects__title'>{{ project.data.title }}</p>
          <p class='projects__description'>{{ project.data.description }}</p>
          <p class='projects__list-title'>stack</p>
          <ul class='projects__list'>
            {% for tag in project.data.tags %}
              <li class='projects__list-item'>{{ tag }}</li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <img class='projects__image' src={{ project.data.image }} alt={{ project.data.title }} width='500' height='300'/>
          <a href="{{ project.data.repository_url }}" target="_blank" class='projects__link'>Repository {%- include "external-link.njk" -%}
          </a>
          <a href="{{ project.data.live_url }}" target="_blank" class='projects__link'>Live demo {%- include "external-link.njk" -%}
          </a>
        </div>
      </div>
    </section>
  {% endfor %}
</div>
{% set js %}
{% include "./static/js/projects.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>